<!-- {% extends 'base.html' %}
{% block title %}
已完成事項
{% endblock %}
{% block content %}
<h1>CompletedList</h1>

{% if todo.completed %}
<h2>{{todo.title}}</h2>
內容: <br>
<p>{{todo.text}}</p>
{% endif %}
<a href="{% url 'todo' %}">返回列表</a>



{% endblock %} -->

{% extends 'base.html' %}
{% block title %}
待辦事項
{% endblock %}
{% block style %}
<style>
    .button {
        background-color: brown;
        font-size: 12px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Todolist</h1>
{% if not todos %}
<h3>目前無待辦事項</h3>
{% else %}
<h3>待辦事項列表</h3>
{% for todo in todos %}
{% if todo.complted %}
<ul>
    <li>
        <h3 {% if todo.important %} style="color: red;" {% endif %}>
            <a href="{% url 'viewtodo' todo.id %}">
                {% if todo.completed %}
                <s>{{todo.title}}</s>
                {% else %}
                {{todo.title}}
                {% endif %}
            </a>
            <a class="button" href="{% url 'deletetodo' todo.id %}">刪除</a>
        </h3>

    </li>
    <li>
        <h3>{{todo.created}}</h3>
    </li>
</ul>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}